body{
    margin: 10px auto;
    text-align: center;
    color: #32312f;
    background-color: #f5f4ef;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.h-style{
font-size: 22px;
}
.rentP-style{
    font-size: 14px;
}